.embedMap {
  width: 100%;
  height: 75vh;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
    font-weight: 700;
}

.toc ul>li::before {
	content: none;
}

.left-img {
	max-height: 40vh !important;
}

.dialog {
  max-height: calc(100vh - 32px);
  top:1em;
  overflow-y:auto;
  min-width: 75%;
}